.HeaderContainer-main {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    width: -webkit-fill-available !important;
}

.HeaderContainer-mainUpper {
    flex-direction: column !important;
}

.SearchContainer{
    padding-left: 0 !important;
}

.CrossSearch-form {
    width: -webkit-fill-available !important;
}

.CrossSearch-input {
    width: -webkit-fill-available !important;
    margin-right: 28px !important;
}

.HeaderContainer-decorationSide {
    margin: 8px 0 !important;
}