.HeaderContainer {
    flex-wrap: wrap !important;
    height: initial !important;
    justify-content: space-around !important;
    /* margin: 10px auto 10px auto !important; */
}

.HeaderContainer-logo {
    margin: 0 auto 0 0 !important;
}

.HeaderContainer-searchBox{
    order: 3 !important;
    margin: 5px 0 10px 0 !important;
}

.SearchBox {
    width: 784px !important;
}

.SearchBox-form input{
    width: -webkit-fill-available !important;
}

.HeaderContainer-ads {
    height: 60px !important;
    margin-top: 10px !important;
}
